@import "./variables.scss";

.navbar-content {
    display: flex;
    justify-content: space-between;
    width:80%;
    margin: auto;
    @include small{
        width:70%;
        margin: auto;
    }
    @include small-medium{
        width:60%;
        margin: auto;
    }
    @include medium{
        width:50%;
        margin: auto;
    }
    .nav-button{
        margin:5px;
        margin-bottom: 30px;
        text-decoration: none;
        color: black;
        background-color: rgba(200, 200, 200, 0.3);
        border-radius: 5px;
        padding: 5px 10px;
        box-shadow: 0 3px #999;
    }
    .nav-button:hover{
        cursor: pointer;
        opacity: 0.8;
        transition: 0.2s;
    }
    .nav-button:active {
        background-color: #666;
        box-shadow: 1 5px #666;
        transform: translateY(4px);
    }
}
.about-wrapper{
    height: 90vh;
    width:80%;
    display:flex;
    align-items: center;
    margin: auto;
    flex-direction: column;
    @include small{
        width:70%;
        margin: auto;
    }
    @include small-medium{
        width:60%;
        margin: auto;
    }
    @include medium{
        width:50%;
        margin: auto;
    }
    .hero{
        display: flex;
        margin-bottom: 20px;;
        width: 100%;
        img{
            width: 40%;
            border-radius: 1000px;
            @include small-medium{
                width:40%;
                // margin: auto;
            }
        }
        p{
            font-size: x-large;
            padding-left: 50px;
        }
    }
    .about{
        padding: 50px 30px;
        background-color: rgba(200, 200, 200, 0.4);
        color: black;
        border-radius: 15px;
        font-size: medium;
        .skills{
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;
            @include medium{
                width:60%;
                margin: auto;
            }
        }
    }
}
.projects-wrapper{
    width:80%;
    margin: auto;
    @include small{
        width:70%;
        margin: auto;
    }
    @include small-medium{
        width:60%;
        margin: auto;
    }
    @include medium{
        width:50%;
        margin: auto;
    }
    .projects{
        background-color: rgba(200, 200, 200, 0.4);
        border-radius: 15px;
        font-size: medium;
        margin: auto;
        margin-bottom: 20px;
        padding: 10px 20px;
        a{
            text-decoration: none;
            color:black;
        }
        img{
            width:70%;
            border-radius: 5px;
            box-shadow: 0 3px #999;
        }
        img:hover{
            cursor: pointer;
            opacity: 0.8;
            transition: 0.2s;
        }
        img:active {
            background-color: #666;
            box-shadow: 0 5px #666;
            transform: translateY(4px);
        }
        button{
            background-color: lightgrey;
            border: none;
            outline: none;
            border-radius: 5px;
            padding: 10px 20px;
            margin-left: 20px;;
            box-shadow: 0 3px #999;
        }
        button:hover{
            cursor: pointer;
            opacity: 0.8;
            transition: 0.2s;
        }
        button:active {
            background-color: #666;
            box-shadow: 0 5px #666;
            transform: translateY(4px);
        }
    }
}
.resume-wrapper{
    .resume{
    margin-top: 10%;
        button{
            background-color: lightgrey;
            border: none;
            outline: none;
            border-radius: 5px;
            padding: 10px 20px;
            box-shadow: 0 3px #999;
        }
        button:hover{
            cursor: pointer;
            opacity: 0.8;
            transition: 0.2s;
        }
        button:active {
            background-color: #666;
            box-shadow: 0 5px #666;
            transform: translateY(4px);
        }
    }
}
.contact-wrapper{
    width:80%;
    margin: auto;
    @include small{
        width:70%;
        margin: auto;
    }
    @include small-medium{
        width:60%;
        margin: auto;
    }
    @include medium{
        width:50%;
        margin: auto;
    }
    .contact{
        background-color: rgba(200, 200, 200, 0.4);
        border-radius: 15px;
        font-size: medium;
        margin-top: 15%;
        padding: 10px 20px;
        .links{
            a{
                text-decoration: none;
                color:black;
                margin-bottom: 20px;
                button{
                    background-color: lightgrey;
                    border: none;
                    outline: none;
                    border-radius: 5px;
                    padding: 10px 20px;
                    box-shadow: 0 3px #999;
                }
                button:hover{
                    cursor: pointer;
                    opacity: 0.8;
                    transition: 0.2s;
                }
                button:active {
                    background-color: #666;
                    box-shadow: 0 5px #666;
                    transform: translateY(4px);
                }
            }
            p{
                margin:0px;
            }
            .link{
                margin-bottom: 30px;
            }

        }
    }
}